<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good Hamburger</title>
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet />
</head>
<body class="bg-gray-50 text-gray-900">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
